<section id="about" class="section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url('/assets/img/bg/about.jpg');">
        <div class="intro">
          <div class="scroll-wrap">
            <div class="container pb-md-5">
              <div class="row align-items-center">
                <div class="col-md-6 pr-md-5 pr-lg-0">
                  <div class="mb-4 text-dark font-weight-normal">My specialization</div>
					<div class="special-line"></div>
                  <h2>I am a trending <br><span class="text-primary">designer</span>  who cares<br> about the details</h2>
                  <div class="mt-5 pt-2 specialization text-center">
					  <div class="row p-0">
					  	<div class="col-specialization p-4 col-md-5 col-lg-3">
							<span class="icon fal fa-wand-magic"></span>
							<h5 class="mt-2 mb-0">Vector Illustration</h5>
						</div>
						<div class="col-specialization p-4 col-md-5 col-lg-3">
							<span class="icon fal fa-phone-laptop"></span>
							<h5 class="mt-2 mb-0">UI / UX</h5>
						</div>
						<div class="col-specialization p-4 col-md-5 col-lg-3">
							<span class="icon fal fal fa-cube"></span>
							<h5 class="mt-2 mb-0">Isometric Vector</h5>
						</div>
					  </div>
                    <!--
					<p>01. ILLUSTRATION</p>
                    <p>02. ISOMETRIC VECTOR</p>
                    <p>03. MOBILE INTERFACE</p>
                    <p>04. WEBSITE DESIGN</p>
                    <p>05. PRINT TEMPLATE</p>
					-->
                  </div>
                </div>
                <div class="mt-5 mt-md-0 col-md-6 col-lg-5  offset-lg-1">
                  <div class="position-relative">
                  	<img alt="specialization" class="border-radius w-100" src="/assets/img/445x459.jpg">
                  	<!--<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="icon-play popup-youtube"></a>-->
                  	<div class="experience-info w-100">
                  	  <div class="text-danger experience-number">4<small>+</small></div>
					  <div class="experience-text">YEARS<br> EXPERIENCE<br> WORKING</div>
                  	</div>
                  </div>
                </div>
              </div>
             </div>
          </div>
        </div>
      </section>