<section id="contact" class="navbar-is-white text-white section pp-scrollable position-absolute" style="background-image:url('/assets/img/bg/contact.jpg');">
		<!--<div class="vlt-section__ken-burn-background"><img src="/assets/img/bg/contact.jpg" alt=""></div>-->
        <div class="intro">
          <div class="scroll-wrap">

	          <div class="container">
		          <div class="row">
					<div class="col-md-4">
					 	<div class="vlt-animated-block" style="animation-delay:0s; animation-duration:700ms;">
					 		<h2 class="text-white">Contact</h2>
					 		<p class="text-muted">I do my best to respond to your E-MAILS as soon as possible. Thank You!</p>
							<h3 class="text-white mt-5 pt-5">{{ site.address }}</h3>
							<h3 class="text-white" title="Add me on Skype">
								<i class="text-white mr-3 contact-ic w-10 {{ site.data.social-media.skype.fa-icon }}"></i> {{ site.data.social-media.skype.title }}
							</h3>
							<h5 class="text-white" title="Send an email">
							<i class="text-white mr-3 contact-ic-mail {{ site.data.social-media.email.fa-icon }}"></i> {{ site.data.social-media.email.id }}
							</h5>
						</div>
				 	</div>

				 	<div class="col-md-5 offset-md-2">
				 		<div class="vlt-animated-block" style="animation-delay:100ms; animation-duration:700ms;">
				 			<h3 class="text-white mt-0">Let's grab a coffee and jump on conversation <span class="text-primary">chat with me.</span></h3>

							 	<div class="mt-5"  id="form1-3" >
							 		<div class="contact-info" data-form-type="formoid">
										<form class="js-ajax-form" action="https://mobirise.com/" method="POST" data-form-title="Mobirise Form">
											<input type="hidden" name="email" data-form-email="true" value="DLx523A+q/ePg8dgcNjQq/VRR5U3snbl1bzQIX7hwkTlXRvdu8xNUHLCvx1Lm9qYlIozBDx3d3ofiW1UDQGofNR9+MxCaTLj9+MMCFVy0MKbp7S5r+m5Nwfaw1ney8d4">
											<div class="row">
												<div class="form-group col-sm-6" data-for="name">
													<input class="form-control" placeholder="Name*" type="text" name="name" data-form-field="Name" required="required" id="name-form1-3">
												</div>
									            <div class="form-group col-sm-6" data-for="email">
									            	<input class="form-control" placeholder="Email*" type="email" name="email" data-form-field="Email" required="required" id="email-form1-3">
									        	</div>
								        	</div>
								        	<div class="row">
									             <div class="form-group col-sm-12" data-for="subject">
									               <input class="form-control" placeholder="Subject (Optinal)" type="text" name="Subject" data-form-field="Subject" id="phone-form1-3">
									             </div>
								             </div>
								             <div class="row">
									             <div class="form-group col-sm-12" data-for="message">
									              <textarea class="form-control" placeholder="Message*" name="message" data-form-field="Message" id="message-form1-3"></textarea>
									             </div>
								             </div>
								             	<div class="row">
									                <div class="message alert alert-success col-12" id="success-message" hidden="hidden" data-form-alert="">Your message is successfully sent...</div>
				             						<div class="message alert alert-danger col-12" id="error-message" hidden="hidden" data-form-alert-danger="">Sorry something went wrong</div>
                								</div>
								             <div class="form-group mb-0 col-sm-12">
								               <button class="rounded btn text-white btn-form" title="Submit" type="submit" >Contact me</button>
								             </div>
										</form>
									</div>
							 	</div>
				 		</div>
					</div>
	          </div>
	       </div>
       </div>
    </div>
   </section>