<section id="contact" class="navbar-is-white text-white section pp-scrollable position-absolute" style="background-image:url('/assets/img/bg/contact.jpg');">
		<!--<div class="vlt-section__ken-burn-background"><img src="/assets/img/bg/contact.jpg" alt=""></div>-->
        <div class="intro">
          <div class="scroll-wrap">

	          <div class="container">
		          <div class="row">
					<div class="col-md-4">
					 	<div class="vlt-animated-block" style="animation-delay:0s; animation-duration:700ms;">
					 		<h2 class="text-white">Contact</h2>
					 		<p class="text-muted">I do my best to respond to your E-MAILS as soon as possible. Thank You!</p>
							<h3 class="text-white mt-5 pt-5">{{ site.address }}</h3>
							<h3 class="text-white">
								<a href="{{ site.data.social-media.mobile.href }}{{ site.data.social-media.mobile.title }}">{{ site.data.social-media.mobile.title }}</a>
							</h3>
							<p class=" mt-3">
								<a class="text-muted" href="{{ site.data.social-media.email.href }}{{ site.data.social-media.email.id }}">{{ site.data.social-media.email.id }}</a>
							</p>
						</div>
				 	</div>

				 	<div class="col-md-5 offset-md-2">
				 		<div class="vlt-animated-block" style="animation-delay:100ms; animation-duration:700ms;">
				 			<h3 class="text-white mt-0">Let's grab a coffee and jump on conversation <span class="text-primary">chat with me.</span></h3>

							 	<div class="mt-5" id="form4-2">
							 		<div data-form-type="formoid">
										<form class="js-ajax-form"  action="https://mobirise.com/" method="POST" data-form-title="Mobirise Form">
											<input type="hidden" name="email" data-form-email="true" value="eNhd6Yxu2Z5FF3ngDa0rKXFZd7QgI+zF4QZH4+zcMaSTGWNDlv8RiqSorRaej8skSZuY2o+OCu4hw6Nv8aIdpQk+ymMZcHFlzmpujtv7HR9Kkrg849qYtkTPpCYrW//r">
											<div class="row">
												<div class="form-group col-sm-6" data-for="name">
													<input type="text" name="name" class="form-control" placeholder="Name*" data-form-field="Name" required="required" id="name-form4-2">
												</div>
									            <div class="form-group col-sm-6" data-for="email">
									            	<input type="text" name="email" class="form-control" placeholder="Email*" data-form-field="Email" required="required" id="email-form4-2">
									        	</div>
								        	</div>
								             <div class="form-group col-sm-12" data-for="subject">
								               <input type="text" name="Subject"  class="form-control" placeholder="Subject (Optinal)" data-form-field="Subject" id="subject-form4-2">
								             </div>
								             <div class="form-group col-sm-12" data-for="message">
								              <textarea rows="3" name="message"  class="form-control" placeholder="Message*" data-form-field="Message" id="message-form4-2" required="required"></textarea>
								             </div>
								             	<div class="row">
									                  <div hidden="hidden"  data-form-alert="" class="ml-3 mt-0 alert alert-success">Thank You, your message is successfully sent!</div>
									                  <div hidden="hidden" data-form-alert-danger="" class="ml-3 text-primary">Sorry, something went wrong</div>
                								</div>
								             <div class="form-group mb-0 col-sm-12">
								               <button type="submit" class="rounded btn text-white" title="Submit">Contact me</button>
								             </div>
										</form>
									</div>
							 	</div>
				 		</div>
					</div>
	          </div>
	       </div>
       </div>
    </div>
   </section>