    <nav class="navbar-bottom">
	  <div class="social">
	    <!-- Social -->
	    <ul class="social-icons mr-auto mr-lg-0 ml-lg-4 d-none d-sm-block">
	      <li><a href="{{ site.data.social-media.facebook.href }}{{ site.data.social-media.facebook.id }}"><ion-icon name="logo-facebook"></ion-icon></a></li>
	      <li><a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}"><ion-icon name="logo-twitter"></ion-icon></a></li>
	      <li><a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}"><ion-icon name="logo-linkedin"></ion-icon></a></li>
	     </ul>
	  </div>