    <nav class="navbar-bottom">
	  <div class="social">
	    <!-- Social -->
	    <ul class="social-icons mr-auto mr-lg-0 ml-lg-4 d-none d-sm-block">
	      <li><a href="{{ site.data.social-media.facebook.href }}{{ site.data.social-media.facebook.id }}"><i class="fab fa-facebook-square"></i></a></li>
	      <li><a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}"><i class="fab fa-twitter"></i></a></li>
	      <li><a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}"><i class="fab fa-linkedin"></i></a></li>
	     </ul>
	  </div>