<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="keywords"  content="graphic designer, ui, ux, prabumulih, indonesia, south sumatera, sumatera, logo, illustration, web, website, homepage, site, grafik, grafis, desain, desainer, illustrator, freelance, designer, hendric simarmata, hendric, simarmata, company, header, images, branding, rebranding, online, graphic design, freelancer, freelance, business, creating illustration, modify illustration, corporate identity, visual design, visual, concept, freelance web design, mobile design, ios app, android app, interface, developer, create illusration, element, ecommerce, isometric, isometric creator, creator, branding, design your own illustration, design your illustration, vector design, vector, 3d design, vector 3d, 3d, web page, parna, pekanbaru, riau, perawang, siak, siak sri indrapura, perawang siak, pekanbaru kota, reference, template design, templates, desain template, page elements, web kit, mobile kit, kits" />
<meta name="description" content="Graphic Designer specializing in illustration, ui/ux, icon, &amp; Illustrator based in Prabumulih, Indonesia.">
<meta name="author" content="Hendric Simarmata">
<meta name="google-site-verification" content="IC3j7IwOIqOGVQTuXPEeoLflvlcxv2eMxvHEsxoz-Wk" />

<title>{{ page.title }} | {{site.name}}</title>

<!-- Favicons -->
<link rel="icon" href="{{ site.baseurl }}/assets/apple-touch-icon-128x128.png" sizes="32x32">
<link rel="icon" href="{{ site.baseurl }}/assets/apple-touch-icon-128x128.png" sizes="192x192">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/apple-touch-icon-128x128.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/apple-touch-icon-114x114.png">
	
{% seo %}

<!-- Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome/all.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" media="screen">
    
<!-- DATA -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://hendricsimarmata.com/">
<meta property="og:title" content="Hendric Simarmata | Hendric Simarmata">
<meta property="og:image" content="https://hendricsimarmata.github.io/assets/apple-touch-icon.png">
<meta property="og:description" content="Graphic Designer specializing in illustration, ui/ux, icon, &amp; Illustrator based in Prabumulih, Indonesia.">
<meta property="og:locale" content="en-IN">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@HendricMarmata" />
<meta name="twitter:creator" content="@HendricMarmata" />
<meta name="twitter:description" content="Graphic Designer specializing in illustration, ui/ux, icon, &amp; Illustrator based in Prabumulih, Indonesia.">
<meta name="twitter:title" content="Hendric Simarmata">
<meta name="twitter:image" content="https://hendricsimarmata.github.io/assets/apple-touch-icon.png" />

</head>