    <!-- Navbar -->  
    <nav  class="navbar navbar-desctop navbar-fullpage boxed">
    	<div class="navbar-bg"></div>
      <div class="position-relative w-100">

	    <!-- Brand-->
	    <a class="brand navbar-brand mr-auto mr-lg-0 ml-lg-4" href="{{ site.url }}">
	    	<img class="" src="/assets/favicon.svg" height="50" width="50" alt="{{ site.title }}" title="{{ site.name }}">
	    	<div class="brand-info nav-title brand-title mr-5">
	    		<div class="brand-name">Hendric Simarmata</div>
	    	</div>
	    	</a>

	    <!-- Toggler -->
	    <button class="toggler">
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	    </button>
	  </div>
	</nav>