
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="IC3j7IwOIqOGVQTuXPEeoLflvlcxv2eMxvHEsxoz-Wk" />
	
<!-- Favicons -->
<link rel="icon" href="assets/apple-touch-icon-128x128.png" sizes="32x32">
<link rel="icon" href="assets/apple-touch-icon-128x128.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="assets/favicon.png">

<!-- APPLE TOUCH -->
<link rel="apple-touch-icon" href="assets/apple-touch-icon-128x128.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
	
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PFGT7C3');</script>
<!-- End Google Tag Manager -->
	
<script src="https://www.googleoptimize.com/optimize.js?id=GTM-P365WGK"></script>

<!-- OPEN GRAPH -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/thumbs/{{ page.image }}" />
<meta property="og:site_name" content="Hendric Simarmata">
<meta property="article:publisher" content="http://www.facebook.com/hendricsimarmata" />
<meta property="article:author" content="https://www.facebook.com/hendricsimarmata" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<!-- /OPEN GRAPH -->

<!-- CONICAL -->
<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@hendricmarmata" />
<meta name="twitter:creator" content="@hendricmarmata">
<meta name="twitter:card" content="summary">
<!-- /Twitter -->