    <!-- Navbar -->  
    <nav  class="navbar navbar-desctop">
      <div class="position-relative w-100">

	    <!-- Brand-->
	    <a class="navbar-brand brand-title border p-1" href="{{ site.url }}">
	    	<!--<img class="mr-3" src="/assets/favicon.svg" height="50" width="50" alt="{{ site.title }}" title="{{ site.name }}">-->Hendric Simarmata</a>
		<div class="container d-block">
	      <span class="phone  my-0 d-none d-md-block">{{ site.mobile }}</span>
	        <span class="email  my-0 d-none d-md-block">{{ site.email }}</span>
		</div>

	    <!-- Toggler -->
	    <button class="toggler">
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	    </button>
	  </div>
	</nav>