      <section id="home" class="navbar-is-white text-white pp-scrollable d-flex align-items-center section position-absolute" style="background-image:url('/assets/img/bg/masthead.jpg');" role="main">
      	<div class="navbar-bg"></div>
        <div class="intro">
          <div class="scroll-wrap">
	          <div class="container">
	            <div class="row">
	              <div class="col-lg-7 col-xl-6">
	              	<div class="mb-2">I'm Illustrator, UI Designer.</div>
	                <h1 class="text-white mastfont">
				<!--<span class="text-danger text-typed a-typed a-typed-about">Hello,</span> my name is <span class="mastname">{{ site.name }}.</span>-->
				<center>You will be automatically redirected to new site: <a class="text-danger" href="http://hendricsimarmata.com">Hendric Simarmata</a> as this resource is not available.</center>
			 </h1>
	                <div class="line"></div>
	            </div>
	            </div>
            </div>
          </div>
        </div>
      </section>
