<nav  class="navbar navbar-mobile">
      <ion-icon class="close" name="close-outline"></ion-icon>

      <!-- language -->
      <!--
      <ul class="language">
         <li class="active"><a href="#">ENG</a></li>
         <li><a href="#">FRA</a></li>
         <li><a href="#">GER</a></li>
      </ul> -->

      <ul class="navbar-nav navbar-nav-mobile">
            <li class="active"><a class="nav-link active" data-menuanchor="home" href="#home">Home</a></li>
            {% for item in site.data.navigation %}
            <li>
              <a {% if page.url == item.link %} class="active nav-link"{% endif %} data-menuanchor="{{ item.name }}" href="#{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          <!--
          <li class="active"><a class="nav-link active" data-menuanchor="home" href="#home">Home</a></li>
          <li><a class="nav-link" data-menuanchor="about" href="#about">About</a></li>
          <li><a class="nav-link" data-menuanchor="experience" href="#experience">Experience</a></li>
          <li><a class="nav-link" data-menuanchor="skills" href="#skills">Skills</a></li>
          <li><a class="nav-link" data-menuanchor="projects" href="#projects">Projects</a></li>
          <li><a class="nav-link" data-menuanchor="partners" href="#partners">Partners</a></li>
          <li><a class="nav-link" data-menuanchor="testimonials" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link" data-menuanchor="news" href="#news">News</a></li>
          <li><a class="nav-link" data-menuanchor="contact" href="#contact">Contact</a></li>
          -->
      </ul>
      <div class="navbar-mobile-footer">
        <p>{{ site.credit }}</p>
      </div>
    </nav>