        <div class="scroll-wrap">
          <div class="scrollable-content">
            <div class="vertical-title text-white  d-none d-lg-block"><span>what I do</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> specialization</h2>
                      <div class="row">
                        <div class="col-md-6 col-lg-4">
                          <span class="icon-special fal fa-wand-magic"></span>
                          <h4 class="text-uppercase">Vector <br>Illustration</h4>                          
                        </div>
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization fal fa-phone-laptop"></span>
                          <h4 class="text-uppercase">UI / UX</h4>                          
                        </div>
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization fal fa-cube"></span>
                          <h4 class="text-uppercase">Isometric <br>Vector</h4>
                        </div>
                      </div>
                      <!--<div class="view-all">
                        <a href="#">
                          Download resume
                        </a>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>