        <div class="scroll-wrap">
          <div class="bg-changer">
            <div class="section-bg" style="background-image:url(/assets/images/bg/project1.jpg);"></div>
            <div class="section-bg" style="background-image:url(/assets/images/bg/project2.jpg);"></div>
            <div class="section-bg" style="background-image:url(/assets/images/bg/project3.jpg);"></div>
            <div class="section-bg" style="background-image:url(/assets/images/bg/project4.jpg);"></div>
            <div class="section-bg" style="background-image:url(/assets/images/bg/project5.jpg);"></div>
          </div>
          <div class="scrollable-content">
            <div class="vertical-title  d-none d-lg-block"><span>Gallery</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row">
                        <div class="col-md-12">

                          <!-- PROJECTS -->
                          <div class="project-row">
                            <a class="active" href="https://www.behance.net/gallery/96919555/Isometric-Time-Management-Illustration" target="_blank">
                              <span class="project-number">01</span>
                              <h2 class="project-title">Time Management</h2>
                              <div class="project-category">Isometric Illustration</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="https://www.behance.net/gallery/95542655/Isometric-E-Learning-Activity" target="_blank">
                              <span class="project-number">02</span>
                              <h2 class="project-title">E-Learning Activity</h2>
                              <div class="project-category">Isometric Illustration</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="https://www.behance.net/gallery/97565655/Business-Management-Illustration-Concept" target="_blank">
                              <span class="project-number">03</span>
                              <h2 class="project-title">Business Management</h2>
                              <div class="project-category">Isometric Illustration</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="https://www.behance.net/gallery/97620173/Isometric-E-Learning-Activity-v2" target="_blank">
                              <span class="project-number">04</span>
                              <h2 class="project-title">E-Learning Activity V2</h2>
                              <div class="project-category">Isometric Illustration</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="https://www.behance.net/gallery/97874019/Business-Management-Illustration-Concept-V2" target="_blank">
                              <span class="project-number">05</span>
                              <h2 class="project-title">Business Management V2</h2>
                              <div class="project-category">Isometric Illustration</div>
                            </a>
                            </div>
                          <!-- /PROJECTS -->

                          <div class="view-all view-all-projects">
                            <a  href="https://Behance.net/HendricSimarmata" target="_blank">
                              View all projects on Behance
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
