<div data-anchor="page3" class="pp-scrollable text-white section section-3">
        <div class="scroll-wrap">
          <div class="section-bg mask" style="background-image:url(assets/images/bg/resume.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-title d-none d-lg-block"><span>resume</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row row-resume">
                        <div class="col-md-6 fadeY fadeY-1">
                          <h2 class="resume-header title"><i class="far fa-book-alt"></i> Education</h2>
                          <div class="col-resume rounded">
                            <div class="resume-content">
                              <div class="resume-inner">
                                <div class="resume-row">
                                  <h6 class="resume-type">Academy course</h6>
                                  <i class="resume-study">STMIK Mikroskil, Medan, Indonesia<br>Jun 2013 - Sep 2016</i>
                                  <p class="resume-text">Technical Information based in Programming and Web Design.</p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">Specialization course</h6>
                                  <i class="resume-study">Lancang Kuning University, Pekanbaru, Indonesia<br>Oct 2016 - Jul 2018</i>
                                  <p class="resume-text">The Faculty of Engineering is based on Architectural Engineering</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 pt-md-5 mt-md-5 fadeY fadeY-2">
                          <h2 class="resume-header title"><i class="far fa-telescope"></i> Experience</h2>
                          <div class="col-resume rounded">
                            <div class="resume-content">
                              <div class="resume-inner">
                                <div class="resume-row">
                                  <h6 class="resume-type">WEBDESIGNER &amp; PRINTING</h6>
                                  <i class="resume-study">YLIRA Foundation<br>Jan 2014 - Nov 2016</i>
                                  <p class="resume-text">Specializing web web design and printing for T-Shirt, Brochure, Business card, Invitation.</p>
                  <h6 class="resume-type">Logo Creator</h6>
                <ul>
                <li>
                  <i class="resume-study">Youth Association, SEI TUAN - Sep 2015</i>
                </li>
                  <li><i class="resume-study">Ruma KERJA, Pekanbaru - Sep 2015</i>
                  </li>
                  <li><i class="resume-study">Student Council SMAN 1, Tualang - Sep 2015</i>
                  </li>
                </ul>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">GRAPHIC DESIGNER</h6>
                  <ul>
                    <li class="resume-study">Ruma KERJA, Pekanbaru | Sep 2017 - now</li>
                    <li class="resume-study">REMAJA HKBP, Tualang | Mar 2016 - now </li>
                    <li class="resume-study">MMM Craft, Pekanbaru | Okt 2016 - Sep 2017 </li>
                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>