        <div class="scroll-wrap">
          <div class="section-bg bg-about" style="background-image:url(/assets/images/bg/about.png);"></div>
          <div class="scrollable-content">
            <div class="vertical-title text-white  d-none d-lg-block"><span>about me</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row align-items-center">
                        <div class="col-lg-6 offset-xl-1">
                          <div class="experience-box">
                            <div class="experience-content">
                              <div class="experience-number">
                                <span class="counter">4</span><sup class="experience-plus">+</sup></div>
                              <!--<div class="experience-number" data-ending-number="6" data-animation-speed="1000" data-delimiter=""><span class="counter">0</span><sup>+</sup></div>-->
                              <div class="experience-info"><div>Years<br>Experience<br>Working</div></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-5 mt-5 mt-xl-0">
                          <h2 class="title"><span class="text-primary"><i class="fad fa-cogs"></i> Software</span> Experience</h2>
                          <div class="progress-bars">
                            <div class="clearfix">
                              <div class="number float-left">Adobe Illustrator</div>
                              <div class="number float-right">95%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Adobe Photoshop</div>
                              <div class="number float-right">75%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Adobe Indesign</div>
                              <div class="number float-right">70%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                <div class="clearfix">
                              <div class="number float-left">Affinity Designer</div>
                              <div class="number float-right">85%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>