        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(/assets/images/bg/contact.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-title text-white d-none d-lg-block"><span>contact</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro overflow-hidden">
                      <div class="row">
                        <div class="col-md-6">
                          <h2 class="title"><span class="text-primary">Prabumulih</span>, Indonesia</h2>
                          <h6 class="text-muted">I do my best to respond to your E-MAILS as soon as possible. Thank You!</h6>
                          <section class="contact-address m-0">
              <h4>Email</h4>
                            <h5><a class="mail" href="{{ site.data.social-media.email.href }}{{ site.data.social-media.email.id }}"> contact@hendricsimarmata.com </a></h5>
                          </section>
                        </div>
                        <div class="col-md-6" id="form4-2">
                          <div data-anchor="contactform" class="contact-info" data-form-type="formoid">
                            <form class="js-form text-primary" action="https://mobirise.com/" method="POST" data-form-title="Mobirise Form">
              <input type="hidden" name="email" data-form-email="true" value="eNhd6Yxu2Z5FF3ngDa0rKXFZd7QgI+zF4QZH4+zcMaSTGWNDlv8RiqSorRaej8skSZuY2o+OCu4hw6Nv8aIdpQk+ymMZcHFlzmpujtv7HR9Kkrg849qYtkTPpCYrW//r">
                <div class="row">
                  <div class="form-group col-sm-6" data-for="name">
                                      <input type="text" class="rounded" name="name" placeholder="Name*" data-form-field="Name" required="required" id="name-form4-2" aria-required="true">
                                  </div>
                  <div class="form-group col-sm-6" data-for="email">
                                      <input type="text" class="rounded" name="email" placeholder="Email*" data-form-field="Email" required="required" id="email-form4-2" aria-required="true">
                                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12" data-for="subject">
                                      <input type="text" class="rounded" name="subject" placeholder="Subject (Optinal)" data-form-field="Subject" required="required" id="subject-form4-2">
                                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12" data-for="message">
                                      <textarea name="message" class="rounded" placeholder="Message*" data-form-field="Message" id="message-form4-2" aria-required="true"></textarea>
                                  </div>
                </div>
                <div class="row">
                  <div hidden="hidden"  data-form-alert="" class="ml-3 mt-0 alert alert-success">Thank You, your message is successfully sent!</div>
                  <div hidden="hidden" data-form-alert-danger="" class="ml-3 text-primary">Sorry, something went wrong</div>
                </div>
                                <div class="col-sm-12 p-0"><button type="submit" data-placement="top" title="Submit" class="button btn rounded">Contact me</button></div>
                </form>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>