<section id="partners" class="section pp-scrollable position-absolute">
        <div class="intro">
          <div class="scroll-wrap">
	          <div class="container">
		          <h2 class="mb-0"><span class="text-primary">Best</span> Partners</h2>
		          	<div class="mt-5 pt-2">
		            <div class="row-partners row align-items-center ">
		           <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/1.png">
		           </div>
		            <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/2.png">
		           </div>
		            <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/3.png">
		           </div>
		           <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/4.png">
		           </div>
		           <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/5.png">
		           </div>
		           <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/6.png">
		           </div>
		           <div class="col-partner col-sm-6 col-md-4  col-xl-3">
		              <img alt="" src="/assets/img/partners/7.png">
		           </div>
		         </div>
		       </div>
           </div>
        </div>
        </div>
      </section>