
<section id="projects" class="navbar-is-white text-white section pp-scrollable position-absolute">
      	<div class="project-wrap">
      	 <div class="bg-changer">
		    <div class="section-bg active" style="background-image:url(/assets/img/bg/portfolio/tmv1.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/eav1.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/bmv1.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/bpv1.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/eav2.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/bmv2.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/bpv2.jpg);"></div>
		    <div class="section-bg" style="background-image:url(/assets/img/bg/portfolio/hmsv1.jpg);"></div>
		  </div>
	        <div class="intro">
	          <div class="scroll-wrap">
		        <div class="container">
		        	<div class="d-block d-md-flex align-items-center justify-content-between border-bottom pb-3">
			          <h2 class="text-white mb-0 mb-3 mb-md-0">Latest projects</h2>
			          <a href="https://project.hendricsimarmata.com" title="View on Behance" class="text-white btn" target="_blank">View all</a>
			        </div>
		          <div class="mt-5 pt-2">
		              <div class="row-project-box row">
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="https://project.hendricsimarmata.com/isometric-time-management-illustration" target="_blank" class="project-box">
						     <div class="project-box-inner">
						        <h4>Time Namagement</h4>
						        <div class="project-category">
									<div class="special-line border-light w-100 my-1"></div>
									Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="https://project.hendricsimarmata.com/isometric-e-learning-activity" class="project-box">
						     <div class="project-box-inner">
						        <h4>E-Learning Activity</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="https://project.hendricsimarmata.com/business-management-illustration-concept" class="project-box">
						     <div class="project-box-inner">
						        <h4>Business Management</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="https://project.hendricsimarmata.com/isometric-business-people-v1" class="project-box">
						     <div class="project-box-inner">
						        <h4>Business People</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="https://project.hendricsimarmata.com/isometric-e-learning-activity-v2" class="project-box">
						     <div class="project-box-inner">
						        <h4>E-Learning Activity V2</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="https://project.hendricsimarmata.com/business-management-illustration-concept-v2" class="project-box">
						     <div class="project-box-inner">
						        <h4>Business Management V2</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="" class="project-box">
						     <div class="project-box-inner">
						        <h4>Business People V2</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
						<div class="col-project-box col-md-6 col-lg-4 col-xl-3">
						  <a href="" class="project-box">
						     <div class="project-box-inner">
						        <h4>Healthcare &amp; Medical Service</h4>
						        <div class="project-category"><div class="special-line border-light w-100 my-1"></div>Illustration</div>
						     </div>
						  </a>
						</div>
					   </div>
		          </div>
		        </div>
	          </div>
	        </div>
	     </div>
      </section>