        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery/jquery-3.5.1.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery/jquery-migrate-3.3.0.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery/popper.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/wow.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/smoothscroll.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/animsition.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.validate.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/owl.carousel.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.pagepiling.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/fontawesome/fontawesome.js" data-auto-replace-svg="nest"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/lightbox.js"></script>
        
        <!-- Scripts -->
        <script src="{{ base.url | prepend: site.url }}/assets/js/scripts.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/formoid.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/bootstrap.js"></script>