<!-- jQuery -->

<script src="assets/js/jquery/jquery-3.5.1.min.js"></script>
<script src="assets/js/jquery/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/jquery/popper.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/animsition.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.pagepiling.min.js"></script>
<script src="assets/js/fontawesome/fontawesome.js" data-auto-replace-svg="nest"></script>
<script src="assets/js/lightbox.js"></script>

<!-- Scripts -->
<script src="assets/js/scripts.js"></script>
<script src="assets/js/formoid.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>