
<!-- Sidebar Menu-->
<div class="menu"> 
      <span class="close-menu icon-cross2 right-boxed"></span>
      <ul class="menu-list right-boxed">
        <li  data-menuanchor="page1">
          <a  href="#page1">Home</a>
        </li>
        <li  data-menuanchor="page2">
          <a href="#page2">Specialization</a>
        </li>
        <li  data-menuanchor="page3">
          <a href="#page3">Resume</a>
        </li>
        <li  data-menuanchor="page4">
          <a href="#page4">About</a>
        </li>
        <li  data-menuanchor="page5">
          <a href="#page5">Projects</a>
        </li>
        <li  data-menuanchor="page6">
          <a href="#page6">Gallery</a>
        </li>
		
        <li  data-menuanchor="page7">
          <a href="#page7">Contact</a>
        </li>
      </ul>

      <div class="menu-footer right-boxed">
        <div class="social-list">
          <a href="https://www.twitter.com/hendricmarmata" target="_blank" class="icon fa-xs fab fa-twitter"></a>
          <a href="https://facebook.com/hendricsimarmata" target="_blank" class="icon fab fa-facebook-f"></a>
          <a href="https://behance.net/hendricsimarmata" target="_blank" class="icon fab fa-behance"></a>
          <a href="https://linkedin.com/in/hendricsimarmata" target="_blank" class="icon fab fa-linkedin-in"></a>
          <a href="https://dribbble.com/hendricsimarmata" target="_blank" class="icon fab fa-dribbble"></a>
        </div>
        <div class="copy">&copy; Hendric Simarmata <script>document.write(new Date().getFullYear());</script>. All Rights Reserved</div>
      </div>
</div>
