<div class="menu"> 
      <span class="close-menu icon-cross2 right-boxed"></span>
      <ul class="menu-list right-boxed">
        <li  data-menuanchor="page1">
          <a  href="{{ site.url }}">Home</a>
        </li>
        <li  data-menuanchor="page2">
          <a href="{{ site.url }}#page2">Specialization</a>
        </li>
        <li  data-menuanchor="page3">
          <a href="{{ site.url }}#page3">Resume</a>
        </li>
        <li  data-menuanchor="page4">
          <a href="{{ site.url }}#page4">About</a>
        </li>
        <li  data-menuanchor="page5">
          <a href="{{ site.url }}#page5">Projects</a>
        </li>
        <li  data-menuanchor="page6">
          <a href="{{ site.url }}#page6">Gallery</a>
        </li>
		
        <li  data-menuanchor="page7">
          <a href="{{ site.url }}#page7">Contact</a>
        </li>
      </ul>
      <div class="menu-footer right-boxed">
        <div class="social-list">
		
          		<a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}" target="_blank" class="icon fa-xs fab fa-twitter"></a>
			    <a href="{{ site.data.social-media.facebook.href }}{{ site.data.social-media.facebook.id }}" target="_blank" class="icon fab fa-facebook-f"></a>
				<a href="{{ site.data.social-media.behance.href }}{{ site.data.social-media.behance.id }}" target="_blank" class="icon fab fa-behance"></a>
				<a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}" target="_blank" class="icon fab fa-linkedin-in"></a>
				<a href="{{ site.data.social-media.dribbble.href }}{{ site.data.social-media.dribbble.id }}" target="_blank" class="icon fab fa-dribbble"></a>
        </div>
        <div class="copy">&copy; Hendric Simarmata <script>document.write(new Date().getFullYear());</script>. All Rights Reserved</div>
      </div>
    </div>