<section id="skills" class="section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url('../assets/img/bg/');">
        <div class="intro">
          <div class="scroll-wrap">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-5 p-0">
                <div class="position-relative">
                	<div class="photo-icon icon-part photo-icon-1"><img alt="" class="w-100" src="../assets/img/chatbubble.svg"></div>
                	<div class="photo-icon icon-part photo-icon-2"><img alt="" class="w-100" src="../assets/img/coffee.svg"></div>
                	<div class="photo-icon icon-part photo-icon-3"><img alt="" class="w-100" src="../assets/img/notebook.svg"></div>
                	<img alt="" class="border-radius w-100" src="../assets/img/binocular.svg">
                </div>
              </div>
              <div class="mt-5 mt-lg-0 col-lg-6 offset-lg-1">
                <h2>My software<span class="text-primary"> Experience</span></h2>
                <p>I will help you build your brand look beautiful. I create clarifying strategy, unique illustration.</p>
	          	<div class="mt-5 pt-2 pb-5">
					  <div class="progress-item progress-bars3 cid-s4lGLL3tDH" id="progress-bars3-4">
						<div class="container">
							<div class="row w-100 media-container-row my-3">
								<div class="col-md-4 card1 align-center">
									<div class="wrap w-75">
										<div class="pie_progress progress1" role="progressbar" data-goal="90">
											<div class="brand-ic">
												<img class="w-50"  src="../assets/img/brand/adobe-illustrator-cc.svg">
											</div>
											<p class="pie_progress__number mbr-fonts-style display-5">
											</p>
										</div>
									</div> 
									<div class="mbr-crt-title pt-4">
										<p>Adobe Illustrator</p>
									</div>
								</div>
								<div class="col-md-4 align-center">
									<div class="wrap w-75">
										<div class="pie_progress progress2" role="progressbar" data-goal="70">
											<div class="brand-ic">
												<img class="w-50 sketch"  src="../assets/img/brand/sketch.svg">
											</div>
											<p class="pie_progress__number mbr-fonts-style display-5"></p>
										</div>
									</div>
									<div class="mbr-crt-title pt-4">
										<p>Sketch</p>
									</div>                 
								</div>
								<div class="col-md-4 align-center">
									<div class="wrap w-75">
										<div class="pie_progress progress3" role="progressbar" data-goal="80" aria-valuemin="0" aria-valuemin="0" aria-valuemax="100">
											<div class="brand-ic">
												<img class="w-50"  src="../assets/img/brand/adobe-xd.svg">
											</div>
											<p class="pie_progress__number mbr-fonts-style display-5"></p>
										</div>
									</div>
									<div class="mbr-crt-title pt-4">
										<p>Adobe XD</p>
									</div>                 
								</div>
							</div>
							<div class="row w-100 media-container-row my-3">
								<div class="col-md-4 card1 align-center">
									<div class="wrap w-75">
										<div class="pie_progress progress1" role="progressbar" data-goal="65">
											<div class="brand-ic">
												<img class="w-25"  src="../assets/img/brand/figma-1.svg">
											</div>
											<p class="pie_progress__number mbr-fonts-style display-5">
											</p>
										</div>
									</div> 
									<div class="mbr-crt-title pt-4">
										<p>Figma</p>
									</div>
								</div>
								<div class="col-md-4 align-center">
									<div class="wrap w-75">
										<div class="pie_progress progress2" role="progressbar" data-goal="75">
											<div class="brand-ic">
												<img class="w-50 sketch"  src="../assets/img/brand/photoshop-cc.svg">
											</div>
											<p class="pie_progress__number mbr-fonts-style display-5"></p>
										</div>
									</div>
									<div class="mbr-crt-title pt-4">
										<p>Adobe Photoshop</p>
									</div>                 
								</div>
								<div class="col-md-4 align-center">
									<div class="wrap w-75">
										<div class="pie_progress progress3" role="progressbar" data-goal="80" aria-valuemin="0" aria-valuemin="0" aria-valuemax="100">
											<div class="brand-ic">
												<img class="w-50"  src="../assets/img/brand/affinity-designer.svg">
											</div>
											<p class="pie_progress__number mbr-fonts-style display-5"></p>
										</div>
									</div>
									<div class="mbr-crt-title pt-4">
										<p>Affinity Designer</p>
									</div>                 
								</div>
							</div>
					  </div>
					</div>
					<!--
					<div class="progress-item">
	              	<div class="row">
		              <h6 class="col-md-6 mt-0">Adobe Illustrator</h6>
		              <h6 class="col-md-6 text-right mt-0">95%</h6>
	              	</div>
		            <div class="progress mb-5">
			          <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
			          </div>
			        </div>
			      </div>
			      <div class="progress-item">
		            <div class="row">
	              	  <h6 class="col-md-6 mt-0">Sketch</h6>
	              	  <h6 class="col-md-6 text-right mt-0">75%</h6>
	          	    </div>
		            <div class="progress mb-5">
		              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
		            </div>
		          </div>
		          <div class="progress-item mb-5">
		            <div class="row">
	              	  <h6 class="col-md-6 mt-0">Adobe XD</h6>
	              	  <h6 class="col-md-6 text-right mt-0">80%</h6>
	          	    </div>
		            <div class="progress">
		              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
		            </div>
		          </div>
		          <div class="progress-item">
	              	<div class="row">
		              <h6 class="col-md-6 mt-0">Figma</h6>
		              <h6 class="col-md-6 text-right mt-0">70%</h6>
	              	</div>
		            <div class="progress mb-5">
			          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
			          </div>
			        </div>
			      </div>
			      <div class="progress-item">
	              	<div class="row">
		              <h6 class="col-md-6 mt-0">Photoshop</h6>
		              <h6 class="col-md-6 text-right mt-0">80%</h6>
	              	</div>
		            <div class="progress">
			          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
			          </div>
			        </div>
			      </div>-->
	            </div>
	          </div>
            </div>
           </div>
        </div>
        </div>
      </section>