<div class="social-list social-list-bottom boxed">
        		<a href="https://behance.net/HendricSimarmata" target="_blank" class="icon fab fa-behance"></a>
          		<a href="https://facebook.com/HendricSimarmata" target="_blank" class="icon fab fa-facebook-f"></a>
          		<a href="https://linkedin.com/in/HendricSimarmata" target="_blank" class="icon ion-social-linkedin"></a>
          		<a href="https://dribbble.com/HendricSimarmata" target="_blank" class="icon fab fa-dribbble"></a>
      </div>