.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}

.align-center {
    text-align: center;
}

.cid-s4lGLL3tDH {
}
.cid-s4lGLL3tDH h3 {
  text-align: center;
  font-weight: 300;
}
.cid-s4lGLL3tDH .wrap {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.brand-ic{
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	transition-delay: .7s;
	transition:all .6s .4s ease;
}

.pie_progress span{
	position: absolute;
    left: 25%;
    top: 135%;
}

.cid-s4lGLL3tDH .mbr-section-subtitle {
  color: #767676;
}
.cid-s4lGLL3tDH .card1 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-s4lGLL3tDH ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-s4lGLL3tDH path {
  stroke: #149dcc;
}
@media (max-width: 991px) and (min-width: 475px) {
  .cid-s4lGLL3tDH .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}

.cid-s4mB5eaTgE {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s4mB5eaTgE h3 {
  text-align: center;
  font-weight: 300;
}
.cid-s4mB5eaTgE .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-s4mB5eaTgE .mbr-section-subtitle {
  color: #767676;
}
.cid-s4mB5eaTgE .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-s4mB5eaTgE ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-s4mB5eaTgE path {
  stroke: #149dcc;
}


.mbr-crt-title{
	font-size: 0.8rem;
    line-height: 1rem;
    color: #000;
}