<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include anim.html %}
  {% include sidebar/side.html %}
  {% include header.html %}

<div class="copy-bottom white boxed">&copy; Hendric Simarmata <script>document.write(new Date().getFullYear());</script>.</div>
  {% include social.html %}

  <div class="pagepiling">
    {% include page1.html %}
    {% include page2.html %}
    {% include page3.html %}
    {% include page4.html %}
    {% include page5.html %}
    {% include page6.html %}
    {% include page7.html %}
  </div>

  {% include scripts.html %}
  
</body>

</html>
