<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body class='{% if page.url == '/' %} is-home {% endif %}'>
   
    <!--Loader--> 
   <div class="loader">
    <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
   </div>
  
    <!-- Click capture -->
   <div class="click-capture"></div>


    <!--{% include_cached header.html %}
    {% include_cached footer.html %}-->

	  <!-- Copyright -->
	 <!-- <div class="copy d-none d-sm-block">{{ site.credit }}</div>
    </nav>

    <!-- Navbar Mobile -->  
    <!--{% include sidebar.html %}-->
    <!--<div id="pagepiling">-->
      <!-- Masthead -->
      <!--{% include masthead.html %}-->
      <!-- About -->
      <!--{% include about.html %}-->
      <!-- Experience -->  
      <!--{% include experience.html %}-->
      <!-- Skills -->  
      <!--{% include skills.html %}-->
      <!-- Projects -->  
      <!--{% include projects.html %}-->
      <!-- Partners -->  
      <!--{% include partners.html %}-->
      <!-- Testimonials -->  
      <!--{% include testimonials.html %}-->
      <!-- News-->  
      <!--{% include news.html %}-->
      <!-- Contact -->  
      <!--{% include contact.html %}-->
  <!--</div>-->
	<div>
	  <center>
		  <a class="text-center" href="{{ site.url }}">
	    	<img class="" src="/assets/favicon.svg" height="50" width="50" alt="{{ site.title }}" title="{{ site.name }}">
	    	<div class="brand-info nav-title brand-title mr-5">
	    		<div class="brand-name">Hendric Simarmata</div>
	    	</div>
	    	</a>
		  <h1>You will be automatically redirected to new site: <a href="http://hendricsimarmata.com">Hendric Simarmata</a> as this resource is not available.</h1>
	  </center>
	</div>

  <!-- Scrollbar 
  <div class="progress-nav">
    <ul class="navbar-nav">
      {% for item in site.data.navigation %}
        <li data-menuanchor="{{ item.link }}" {% if page.url == item.link %} class="active nav-link"{% endif %}></li>
      {% endfor %}
    </ul>
  </div>-->

   <!--<div class="progress-nav">
    <ul class="navbar-nav">
      {% for item in site.data.navigation %}
        <li data-menuanchor="{{ item.link }}" {% if page.url == item.link %} class="active nav-link"{% endif %}></li>
      {% endfor %}
    </ul>
  </div>-->

  <!-- Optional JavaScript -->
	  <script src="{{ '/assets/js/jquery/jquery-3.5.1.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/jquery/jquery-migrate-3.3.0.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/jquery-1.12.4.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/popper.min.js' | prepend: site.baseurl}}" ></script>
	  <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/jquery.validate.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/jquery.pagepiling.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/owl.carousel.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/interface.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/formoid.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/css/tether/tether.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/jquery-as-pie-progress.min.js' | prepend: site.baseurl}}"></script>
</body>
</html>
