---
title: Hendric Simarmata
---

<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  
  <body>
     <div class="animsition">  
        {% include loader.html %}
        <div class="click-capture"></div>
      	{% include sidebar.html %}
      	{% include header.html %}
      	
      
      	<div class="copy-bottom white boxed">&copy; Hendric Simarmata <script>document.write(new Date().getFullYear());</script>.</div>
             <div class="social-list social-list-bottom boxed">
        		<a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}" target="_blank" class="icon fa-xs fab fa-twitter"></a>
            <a href="{{ site.data.social-media.facebook.href }}{{ site.data.social-media.facebook.id }}" target="_blank" class="icon fab fa-facebook-f"></a>
            <a href="{{ site.data.social-media.behance.href }}{{ site.data.social-media.behance.id }}" target="_blank" class="icon fab fa-behance"></a>
            <a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}" target="_blank" class="icon fab fa-linkedin-in"></a>
            <a href="{{ site.data.social-media.dribbble.href }}{{ site.data.social-media.dribbble.id }}" target="_blank" class="icon fab fa-dribbble"></a>
            </div>
        
        <div class="pagepiling">
            <div data-anchor="page1" class="pp-scrollable text-white section section-1">
                {% include page1.html %}
            </div>
            <div data-anchor="page2" class="pp-scrollable section section-2">
                {% include page2.html %}
            </div>
            <!--
            <div data-anchor="page3" class="pp-scrollable text-white section section-3">
                {% include page3.html %}
            </div>
        	-->
            <div data-anchor="page4" class="pp-scrollable section section-4">
                {% include page4.html %}
            </div>
            <div data-anchor="page5" class="pp-scrollable text-white section section-5">
                {% include page5.html %}
            </div>
            <div data-anchor="page6" class="pp-scrollable section section-6">
                {% include page6.html %}
            </div>
            <div data-anchor="page8" class="pp-scrollable section section-8">
                {% include page7.html %}
            </div>
        </div>
        	</div>

        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery/jquery-3.5.1.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery/jquery-migrate-3.3.0.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery/popper.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/wow.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/smoothscroll.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/animsition.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.validate.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/owl.carousel.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.pagepiling.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/fontawesome/fontawesome.js" data-auto-replace-svg="nest"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/lightbox.js"></script>
        
        <!-- Scripts -->
        <script src="{{ base.url | prepend: site.url }}/assets/js/scripts.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/formoid.min.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/bootstrap.js"></script>
        <!--
        <script src="{{ base.url | prepend: site.url }}/assets/js/vlt-plugins.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/vlt-controllers.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/vlt-helpers.js"></script>-->
        {% include lazyload.html %}
  </body>
</html>
