<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body class='{% if page.url == '/' %} is-home {% endif %}'>
   
   <!-- Loader -->
   <div class="loader">
    <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
   </div>
  
    <!-- Click capture -->
   <div class="click-capture"></div>

    <!-- Navbar -->  
    <nav  class="navbar navbar-desctop mastnav">
      <div class="position-relative w-100">

	    <!-- Brand-->
	    <a class="navbar-brand brand-title border p-1" href="{{ site.url }}">
	    	<!--<img class="mr-3" src="/assets/favicon.svg" height="50" width="50" alt="{{ site.title }}" title="{{ site.name }}">-->Hendric Simarmata</a>
		<div class="container d-block">
	      <span class="phone  my-0 d-none d-md-block">{{ site.mobile }}</span>
	        <span class="email  my-0 d-none d-md-block">{{ site.email }}</span>
		</div>

	    <!-- Toggler -->
	    <button class="toggler">
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	    </button>
	  </div>
	</nav>
    

    <nav class="navbar-bottom">
	  <div class="social">

	    <!-- Social -->
	    <ul class="social-icons mr-auto mr-lg-0 ml-lg-4 d-none d-sm-block">
	      <li><a href="{{ site.data.social-media.facebook.href }}{{ site.data.social-media.facebook.id }}"><ion-icon name="logo-facebook"></ion-icon></a></li>
	      <li><a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}"><ion-icon name="logo-twitter"></ion-icon></a></li>
	      <li><a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}"><ion-icon name="logo-linkedin"></ion-icon></a></li>
	     </ul>
	  </div>

	  <!-- Copyright -->
	  <div class="copy d-none d-sm-block">{{ site.credit }}</div>
    </nav>

    <!-- Navbar Mobile -->  
    {% include sidebar.html %}
    

    <div id="pagepiling">
      {{ content }}
  </div>

  <!-- Optional JavaScript -->
  <script src="{{ '/assets/js/jquery-1.12.4.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/popper.min.js' | prepend: site.baseurl}}" ></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <script src="{{ '/assets/js/jquery.validate.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/jquery.pagepiling.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/owl.carousel.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/interface.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/vlt/vlt-plugins.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/vlt/vlt-helpers.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/assets/js/vlt/vlt-controllers.min.js' | prepend: site.baseurl}}"></script>
</body>
</html>